@page "/badges"
@rendermode InteractiveServer 
@inject IBadgesPageDataService dataService
<h3>Badges Page</h3>

<!--List View-->
@if(badges == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (Badge badge in badges)
        {
            <li>
                @badge.Title
                <button class="btn btn-primary" @onclick="() => OnViewClicked(badge)">View</button>
                <AuthorizeView Roles="Admin">
                    <button class="btn btn-danger" @onclick="() => OnDeleteClickAsync(badge)">Delete</button>
                </AuthorizeView>
            </li>
        }
    </ul>
    <AuthorizeView Roles="Admin">
        <button type="button" class="btn btn-primary" @onclick="OnAddBadgeClick">Add Badge</button>
    </AuthorizeView>
}

<!--Detail View-->
@if(badge == null)
{
    <p>Please select a badge to show.</p>
}
else
{
    <AuthorizeView Roles="Admin">
        <Authorized>
            <h4>Editing Badge</h4>
            <p>Id: @badge.Id</p>
            <p>Title: <input @bind-value="@badge.Title" type="text" /></p>
            <p>Description: <textarea @bind="@badge.Description" /></p>
            <p>Turn In Instructions: <textarea @bind="@badge.TurnInInstructions" /></p>
            <p>Is Visible: <input @bind-value="@badge.IsVisible" type="checkbox" />  </p>
            <button type="button" class="btn btn-primary" @onclick="OnSubmitClickAsync">Submit</button>
        </Authorized>
        <NotAuthorized>
            <h4>Viewing Badge</h4>
            <p>Title: @badge.Title</p>
            <p>Description: @badge.Description</p>
            <p>Turn In Instructions: @badge.TurnInInstructions</p>
            <p>Is Visible: @(badge.IsVisible == true ? "Yes" : "No")</p>
        </NotAuthorized>
    </AuthorizeView>
}

@code {
    protected List<Badge>? badges;
    protected Badge? badge;

    override protected async Task OnInitializedAsync()
    {        
        badges = await dataService.GetAllAsync();
    }

    protected void OnViewClicked(Badge badge)
    {
        this.badge = badge;
    }

    protected void OnAddBadgeClick()
    {
        badge = new Badge();
    }

    protected async Task OnDeleteClickAsync(Badge badge)
    {
        await dataService.RemoveAsync(badge.Id);

        // refresh list
        badges = await dataService.GetAllAsync();

        // update UI
        StateHasChanged();
    }


    protected async Task OnSubmitClickAsync()
    {
        if (badge == null)
            throw new ArgumentException("Badge is null");

        if (string.IsNullOrEmpty(badge.Id))
        {
            await dataService.AddAsync(badge);
        }
        else
        {
            await dataService.UpdateAsync(badge);
        }

        // refresh list
        badges = await dataService.GetAllAsync();

        badge = null;

        // update UI
        StateHasChanged();
    }

}
